.weather-box {
    display: flex;
    text-align: center;
}

.row-a {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.column-a {
    margin-top: 50px;
}

.column-c {
    margin-top: 50px;
}