body {
    font-size: 18px;
}

.weather-container {
    display: flex;
    justify-content: center;
}

.box1 {
    height: 450px;
    width: 1200px;
    background-color: rgba(121, 209, 246, 1);
    border-radius: 25px;
    font-family: 'Julius Sans One';
    color: white;
    margin: 0;
}

.loading-box {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-it-all {
    display: flex;
    justify-content: space-evenly;
}

.location {
    font-size: 30px;
}

.temp {
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.feels-like {
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.live-time {
    margin-top: 47px;
}

