.weather-container {
    display: flex;
    justify-content: center;
}

.box1 {
    height: 450px;
    width: 1000px;
    background-color: rgba(121, 209, 246, 1);
    border-radius: 25px;
    font-family: 'Julius Sans One';
    color: white;
    margin: 0;
}

.loading-box {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sunny-icon {
    font-size: 150px;
}

.all-elements-up {
    display: flex;
    margin-top: 20px;
}

#icon-description {
    margin-left: 58px;
}

.temp {
    margin-left: 95px;
    margin-right: 80px;
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.temp-text {
    margin-left: 20px;
}

.feels-like {
    margin-right: 100px;
    margin-left: 50px;
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.feels-like-text {
    margin-right: 100px;
    margin-left: 50px;
}

.all-elements-down {
    display: flex;
}

.description {
    margin-left: 93px;
    margin-top: 0px;

}

.max {
    margin-right: 40px;
    margin-left: 95px;
    margin-top: 0px;
    font-size: 20px;
}

.min {
    margin-left: 190px;
    margin-top: 0px;
    font-size: 20px;
}

.rise {
    margin-right: 40px;
}

.set {
    margin-right: 40px;
}

.up-elements {
    display: flex;
}

.toggle-switch {
    margin-left: 50px;
    margin-top: 30px;
}

.location {
    margin-top: 30px;
    margin-left: 273px;
    font-size: 20px;
}

#wind-pre-hum {
    margin-top: 0px;
}

.hours {
    margin-left: 120px
}
